<div class="w-full mb-8">
  <h1 class="text-center text-4xl mb-8"><%= t 'resume.header' %></h1>

  <div class="relative">
    <span class="block absolute w-1 top-0 bottom-0 left-1/3 sm:left-1/4 bg-gray-400 dark:bg-slate-200 rounded-full mt-1" aria-hidden="true"></span>

    <div class="relative">
      <div class="block absolute -ml-1.5 w-4 h-4 top-1 bottom-0 left-1/3 sm:left-1/4 rounded-full bg-gray-900 dark:bg-indigo-600" aria-hidden="true"></div>
      <div class="flex">
        <div class="basis-1/3 sm:basis-1/4 pr-7 text-right">1997</div>
        <div class="basis-2/3 sm:basis-3/4 pl-7">
          <%= t 'resume.birth', age: @age %>
        </div>
      </div>
    </div>

    <div class="relative mt-4">
      <div class="relative absolute -ml-1.5 w-4 h-4 top-1 bottom-0 left-1/3 sm:left-1/4 bg-slate-50 dark:bg-slate-800 rotate-90" aria-hidden="true">
        <div class="block absolute w-1 h-4 top-0 bottom-0 left-0 bg-gray-400 dark:bg-slate-200" aria-hidden="true"></div>
        <div class="block absolute w-1 h-4 top-0 bottom-0 right-0 bg-gray-400 dark:bg-slate-200" aria-hidden="true"></div>
      </div>
    </div>

    <div class="relative mt-7">
      <div class="block absolute -ml-1.5 w-4 h-4 top-1 bottom-0 left-1/3 sm:left-1/4 rounded-full bg-gray-900 dark:bg-indigo-600" aria-hidden="true"></div>
      <div class="flex">
        <div class="basis-1/3 sm:basis-1/4 pr-7 text-right">09/2015 - 07/2020</div>
        <div class="basis-2/3 sm:basis-3/4 pl-7">
          <strong><%= t 'resume.education.header' %></strong>
          <br />
          <%= t 'resume.education.content_html' %>
        </div>
      </div>
    </div>

    <div class="relative mt-7">
      <div class="block absolute -ml-1.5 w-4 h-4 top-1 bottom-0 left-1/3 sm:left-1/4 rounded-full bg-gray-900 dark:bg-indigo-600" aria-hidden="true"></div>
      <div class="flex">
        <div class="basis-1/3 sm:basis-1/4 pr-7 text-right">09/2019 - 02/2024</div>
        <div class="basis-2/3 sm:basis-3/4 pl-7">
          <strong><%= t 'resume.manda_job.header' %></strong>
          <br />
          <%= t 'resume.manda_job.content_html' %>
          <ul class="list-disc list-inside">
            <% t('resume.manda_job.tasks').each do |task| %>
              <li><%= task %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="relative mt-7">
      <div class="block absolute -ml-1.5 w-4 h-4 top-1 bottom-0 left-1/3 sm:left-1/4 rounded-full bg-gray-900 dark:bg-indigo-600" aria-hidden="true"></div>
      <div class="flex">
        <div class="basis-1/3 sm:basis-1/4 pr-7 text-right">03/2024 - <%= t 'resume.future.today' %></div>
        <div class="basis-2/3 sm:basis-3/4 pl-7">
          <strong><%= t 'resume.future.header' %></strong>
          <br />
          <%= t 'resume.future.content_html' %>
          <%= link_to malt_url, class: 'underline', aria: { label: 'Link to my profile on Malt' } do %>
            <%= t 'resume.future.contact_me' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h1 class="text-center text-4xl mb-8 mt-14 dark:stroke-transparent"><%= t 'skills.header' %></h1>

  <div class="flex md:flex-row flex-col justify-around mx-5">
    <div class="min-w-64">
      <h2 class="text-2xl my-5"><%= t 'skills.tech_skills.header' %></h2>

      <div class="max-w-md">
        <% t('skills.tech_skills.skills').each do |skill| %>
          <div class="flex gap-4">
            <span class="basis-1/2">
              <%= skill[:name] %>
            </span>
            <div class="flex basis-1/2">
              <% skill[:rating].times do %>
                <%= render_svg 'star' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="min-w-64">
      <h2 class="text-2xl my-5"><%= t 'skills.languages.header' %></h2>

      <div class="max-w-md">
        <% t('skills.languages.skills').each do |skill| %>
          <div class="flex gap-4">
            <span class="basis-1/2">
              <%= skill[:name] %>
            </span>
            <div class="flex basis-1/2">
              <% skill[:rating].times do %>
                <%= render_svg 'star' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex justify-center gap-4 mt-14">
    <%= link_to download_resume_path do %>
      <button type="button" class="text-lg inline-flex items-center rounded-md bg-gray-900 dark:bg-indigo-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 dark:hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900 dark:focus-visible:outline-indigo-800">
        <%= t 'resume.download_resume' %>
      </button>
    <% end %>
  </div>
</div>
